<section class="sectionImages">
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
        <div class="container-fluid d-flex justify-content-start align-items-center">
            <img src="assets/LogoImage.png" class = "logo">
        </div>
        <div class="position-absolute top-1 end-0 p-2">
            <button class="btn btn-light botonLogin">Iniciar sesión</button>
        </div>
    </div>            
</section>
<section class="sectionImages">
    <!--<div class="container-fluid d-flex justify-content-center align-items-center"> -->
        <img src="assets/HomeImage.png" class="img-fluid">
    <!--</div>-->
</section>
    
    
