  
  section:nth-child(2) > div {
    width: 100%; 
    height: 100%; 
  }
  
  /* Estilos para la imagen */
  .img-fluid {
    width: 100%; /* La imagen ocupará el 100% del contenedor */
    height: 100%; /* La imagen ocupará el 100% del contenedor */
    object-fit: contain; /* La imagen se ajustará al contenedor manteniendo la proporción */ 
  }
  .sectionImages{
    margin-top: 0.3rem;
  }
  .botonLogin{
    margin-right: 1rem;
    width: 142px;
    height: 46px;
    border-color: #27042B; 
    background-color: #985D9C;    
    font-family: Roboto;
    color: #FFFFFF;  
    font-size: 16px;
  }