<section class="sectionImages">
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
        <div class="container-fluid d-flex justify-content-start align-items-center">
            <img src="assets/LogoImage.png" class = "logo">
        </div>
        <div class="position-absolute top-1 end-0 p-2">
            <button class="btn btn-light botonLogin">Cerrar Sesión</button>
        </div>
    </div>            
</section>
<div class="line"></div>
<section class="sectionBorder">
    <div id="principal" class="d-flex">
        <div id="sidebar-container"  class="bg-primary">
            <div class="circle">
                <div class="circle2">
                    <img src="assets/iconPerfil.png" class="img-fluid">
                </div>
            </div>
            <div class="line1">                
            </div>
            <div class="menu">
                <a href="" class ="d-block ">Perfil</a>
                <a href="" class ="d-block ">Alarmas</a>
                <div class="submenu">
                    <a href="" class="d-block ms-3 atipo">Crear Alarma</a>
                    <a href="" class="d-block ms-3 atipo">Lista de Alarmas</a>
                </div>
                <a href="" class ="d-block ">Informes</a>
            </div>
        </div>


        <div class="alarm-container">
            <div class="alarm-card">                
                <div class="alarm-details">                    
                    <h4>Título Contexto Alarma</h4>
                    <div class="alarm-meta">
                        <img src="assets/vibration.png" alt="Vibration Icon" class="icon-vibration">
                        <span class="ringtone-text">Ringtone</span>
                        <div class="days">
                            <span>D L M M J V S</span>
                        </div>
                    </div>
                </div>
                <div class="alarm-time">
                    <div class="time-wrapper">
                        <span class="hour">12</span>
                        <div class="minute-ampm-wrapper">
                            <span class="minute">00</span>
                            <span class="ampm">p.m.</span>
                        </div>
                    </div>
                </div>
                <button class="delete-btn">
                    <img src="assets/delete.png" alt="Eliminar" class="delete-icon">
                </button>
            </div>
            <div class="alarm-card">                
                <div class="alarm-details">                    
                    <h4>Título Contexto Alarma</h4>
                    <div class="alarm-meta">
                        <img src="assets/vibration.png" alt="Vibration Icon" class="icon-vibration">
                        <span class="ringtone-text">Ringtone</span>
                        <div class="days">
                            <span>D L M M J V S</span>
                        </div>
                    </div>
                </div>
                <div class="alarm-time">
                    <div class="time-wrapper">
                        <span class="hour">12</span>
                        <div class="minute-ampm-wrapper">
                            <span class="minute">00</span>
                            <span class="ampm">p.m.</span>
                        </div>
                    </div>
                </div>
                <button class="delete-btn">
                    <img src="assets/delete.png" alt="Eliminar" class="delete-icon">
                </button>
            </div>
            <div class="alarm-card">                
                <div class="alarm-details">                    
                    <h4>Título Contexto Alarma</h4>
                    <div class="alarm-meta">
                        <img src="assets/vibration.png" alt="Vibration Icon" class="icon-vibration">
                        <span class="ringtone-text">Ringtone</span>
                        <div class="days">
                            <span>D L M M J V S</span>
                        </div>
                    </div>
                </div>
                <div class="alarm-time">
                    <div class="time-wrapper">
                        <span class="hour">12</span>
                        <div class="minute-ampm-wrapper">
                            <span class="minute">00</span>
                            <span class="ampm">p.m.</span>
                        </div>
                    </div>
                </div>
                <button class="delete-btn">
                    <img src="assets/delete.png" alt="Eliminar" class="delete-icon">
                </button>
            </div>
            <!-- Repetir estructura para más alarmas -->
        </div>

    </div>
</section>
